.idea/
*.pyc
*.pyd
.DS_Store
__pycache__
scripts


build
dist
docs
include
Lib
notebooks
recipes
share
venv
tests
ffmpeg.exe
ffprobe.exe
*.zip
*.rar
*.7z

*.log
pyvenv.cfg
run.bat
setup.cfg
*.pth


*.spec
tts.py
test.py
hubconf.py
static/ttslist/*