.idea/
*.pyc
*.pyd
.DS_Store
__pycache__
scripts


build
dist
docs
include
Lib
notebooks
recipes
share
venv
tests
ffmpeg.exe
ffprobe.exe
*.zip
*.rar

*.exe
*.log
pyvenv.cfg
setup.cfg
*.pth


*.spec

hubconf.py
static/ttslist/*