.idea/
*.pyc
*.pyd
.DS_Store
__pycache__
scripts


build
dist
docs
include
Lib
notebooks
recipes
share
venv
tests
ffmpeg.exe
ffprobe.exe
*.zip
*.rar

*.exe
*.log
pyvenv.cfg
setup.cfg
*.pth
*.pt

*.spec
*.txt
test.py
testapi.py
tts/*.7z
tts_cache/*

hubconf.py
static/ttslist/*
static/tmp/*.wav
static/ttslist/*.wav