<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="/static/js/bootstrap.min.css" rel="stylesheet">
    <title data-en="Voice Clone - Speak with Any Voice">语音克隆-用任意声音说话</title>
    <style>
        body {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }

        .container {
            max-width: 1240px;
            margin: 20px auto 50px;
        }

        .custom-alert {
            background-color: #f8d7da;
            border-color: #f5c6cb;
            color: #721c24;
            border-radius: .25rem;
            padding: 1rem;
            margin-bottom: 20px;
        }

        .custom-alert h4 {
            color: #721c24;
        }

        .custom-alert hr {
            border-color: #f5c6cb;
        }

        .form-label {
            font-size: 1rem;
            font-weight: bold;
            color: #0d6efd;
        }

        .form-control {
            border-radius: .25rem;
            margin-top: .5rem;
        }

        .form-text {
            font-size: 0.875rem;
            color: #6c757d;
        }

        .form-select {
            height: calc(2.5rem + 2px);
        }

        .btn-file {
            position: relative;
            overflow: hidden;
        }

        .btn-file input[type=file] {
            position: absolute;
            top: 0;
            right: 0;
            margin: 0;
            padding: 0;
            font-size: 20px;
            cursor: pointer;
            opacity: 0;
            filter: alpha(opacity=0);
        }

        .btn-record {
            margin-right: 10px;
        }

     

        .btn-secondary-srt {
            margin-right: 10px;
            position: relative;
        }

        .btn-secondary-srt input[type=file] {
            position: absolute;
            top: 0;
            right: 0;
            margin: 0;
            padding: 0;
            font-size: 20px;
            cursor: pointer;
            opacity: 0;
            filter: alpha(opacity=0);
        }

        .text-danger {
            color: #dc3545;
        }
		#dropaudio{
			cursor:pointer
		}
		#dropaudio {
		  border: 2px dashed #ccc;
		  padding: 20px;
		  text-align: center;
		  cursor: pointer;
		  background:#fff;
		}
		#dropaudio.dragover {
		  background-color: #f0f0f0;
		}
		a.btn-link{text-decoration:none}
    </style>
</head>
<body>
<div class="container my-0">
    <div class="alert  rounded-0" role="alert">
        <h4 class="alert-heading d-flex justify-content-between">		
			<span class="text-danger" data-en="Voice Clone - Speak with Any Voice">语音克隆-用任意声音说话!</span>
			<span>
			<a class="fs-6 text-black btn" href="https://github.com/jianchang512/clone-voice" target="_blank">Github</a>
			<a class="fs-6 text-black btn" href="https://github.com/jianchang512/clone-voice/issue" target="_blank" data-en="encounter a problem">遇到问题?</a>
			<a class="fs-6 text-success btn" href="https://github.com/jianchang512/clone-voice/issues/10" target="_blank" data-en="Donate to the project">捐助该项目</a>
			</span>
		</h4>
        <hr>
        <div>

        <p class="mb-0" data-en="Record an audio segment with your own voice or using any tone">用自己的声音或使用任意音色录制一段音频</p>
        <p class="mb-0" data-en="The optimal audio material duration for cloning is 5-15s, ensuring clear and accurate vocals without any noise or background noise">用于克隆的最佳音频素材时长为 5-15s，确保清晰准确的人声，不要有杂音、背景音</p>
        </div>
    </div>
    <div class="p-3 shadow bg-white">
        <div class="row mt-4">
            <div class="col-md-4">
                <label for="languageSelect" class="form-label" data-en="Language:">文本语言：</label>
                <select class="form-select" id="languageSelect">
                    <option value="zh-cn">Chinese</option>
                    <option value="en">English</option>
                    <option value="ja">Japanese</option>
                    <option value="ko">Korean</option>
                    <option value="es">Spanish</option>
                    <option value="de">German</option>
                    <option value="fr">French</option>
                    <option value="it">Italian</option>
                    <option value="tr">Turkish</option>
                    <option value="ru">Russian</option>
                    <option value="pt">Portuguese</option>
                    <option value="pl">Polish</option>
                    <option value="nl">Dutch</option>
                    <option value="ar">Arabic</option>
                    <option value="hu">Hungarian</option>
                    <option value="cs">Czech</option>
                </select>
            </div>
            <div class="col-md-4">
                <label for="audioSelect"  class="form-label"><span data-en="The sound wav file to be used">要使用的声音wav文件：</span><a href="javascript:;" onclick="shiting(this)" class="form-text" data-en="audition">试听</a></label>

                <select class="form-select" id="audioSelect">
                </select>
                <div class="form-text">
                    <label class="btn btn-sm btn-secondary btn-file d-inline-block position-relative"><span data-en="Local Upload">本地上传</span>
                        <input id="fileInput" type="file" accept="audio/wav" class="position-absolute start-0 top-0 end-0 bottom-0 opacity-0" onchange="uploadFromLocal(this)" />
                    </label>
                    <span data-en="Or record a 5-15s sound wave online, and you can choose to use it here">或在线录制5-15s的声音wav，即可在此选择使用</span>
                </div>
            </div>
            <div class="col-md-4">
                <button class="btn btn-sm btn-primary btn-record" id="startRecord" data-en="start recording">开始录制</button>
                <button class="btn btn-sm btn-danger btn-record" id="stopRecord" disabled data-en="stop recorder">停止录制</button>
                <button class="btn btn-sm btn-success btn-record" id="upload" disabled data-en="Use this recording">使用该录音</button>
                <audio class="mt-1" id="audioPlayer" controls></audio>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col-md-12" id="tts_area">
				<div>
					<button onclick="toggle(this,'tts')" for="textInput" class="btn border btn-primary" data-en="Text ->Sound">文字->声音</button>
					<button onclick="toggle(this,'sts')" for="textInput" class="btn border" data-en="Sound ->Sound">声音->声音</button>				
				</div>
				<div>
					<div id="tts-area">
						<textarea class="form-control d-block" id="textInput" placeholder="在此输入要合成的文字" placeholderen="input text in there" rows="5"></textarea>
                        {% if text_model=='yes' %}
						<label class="btn-file  btn-secondary-srt">
                            <span class="btn btn-sm " data-en="Import SRT file">导入srt文件</span>
							<input type="file" accept=".srt" class="position-absolute start-0 top-0 end-0 bottom-0 opacity-0" onchange="uploadsrt(this)">
						</label>
                        {% else %}
							<div class="alert alert-primary my-2">
                                <span data-en="The model needs to be downloaded before it can be used. If the source code is deployed, please execute the `python code_dev.py` download the model online, please go to the pre compiled version">需要下载模型后才可使用，如果源码部署，请执行 python code_dev.py 在线下载模型，预编译版请去</span> 
                                <a href="https://github.com/jianchang512/clone-voice/releases/tag/v0.0.1" target="_blank" data-en="Download model">下载模型</a>，<span data-en="Unzip the tts folder in the current project directory, ensuring that the following three folders exist in the tts directory after decompression, and then restart the software">放到当前项目目录的 tts 文件夹下解压,确保解压后tts目录下存在如下3个文件夹，然后重启软件</span> `tts_models--multilingual--multi-dataset--xtts_v2` &   `voice_conversion_models--multilingual--vctk--freevc24` & `wavlm` 
							</div>
						{% endif %}
					</div>
					<div id="sts-area" class="d-none">
						{% if voice_model=='yes' %}
						<div id="dropaudio" class=" border m-2 p-5 text-center " data-en="Drag and drop audio files here to upload">
							拖拽音频文件到这里上传
						</div>		
						{% else %}
							<div class="alert alert-primary my-2">
								<span data-en="The model needs to be downloaded before it can be used. If the source code is deployed, please execute the `python code_dev.py` download the model online, please go to the pre compiled version">需要下载模型后才可使用，如果源码部署，请执行 python code_dev.py 在线下载模型，预编译版请去</span> 
                                <a href="https://github.com/jianchang512/clone-voice/releases/tag/v0.0.1" target="_blank" data-en="Download model">下载模型</a>，<span data-en="Unzip the tts folder in the current project directory, ensuring that the following three folders exist in the tts directory after decompression, and then restart the software">放到当前项目目录的 tts 文件夹下解压,确保解压后tts目录下存在如下3个文件夹，然后重启软件</span> `tts_models--multilingual--multi-dataset--xtts_v2` &   `voice_conversion_models--multilingual--vctk--freevc24` & `wavlm` 
							</div>
						{% endif %}
					</div>
				</div>
            </div>
        </div>

        <div class="row mt-4 mb-4">
            <div class="col-md-12 text-center">
                <audio id="downloadbtn" class="d-none" controls></audio>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-md-12 text-center position-relative">
                
                <button onclick="start(this)" class="btn btn-danger btn-start-record" data-en="Start generating immediately">立即开始生成</button>
            </div>
            <div class="col-md-12 d-none text-danger text-center" id="tips"></div>
        </div>
        
        <div class="my-5 py-2 text-center">
            <a href="https://github.com/jianchang512/clone-voice/issues/10"  class="text-black-50 btn-link" data-en="If the project is helpful to you, saving time and money, please consider providing small funding to developers help the project can be updated and maintained for a long time." target="_blank">如果项目对你有帮助，节省了时间和金钱，请考虑小额资助开发者，帮助项目能够长期保持更新和维护。</a>
        </div>
    </div>
</div>
<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/layer/layer.js"></script>
<script src="/static/js/bootstrap.bundle.min.js"></script>
<script>
    let langlist={
        "lang1":'必须选择要试听的声音', 
        "lang2":'录制中', 
        "lang3":'停止录制后,可使用此按钮', 
        'lang4':'已录制', 
        'lang5':'开始录制', 
        'lang6':'停止录制后,可使用此按钮', 
        'lang7':'请选择要上传的文件', 
        'lang8':'只可导入srt格式字幕文件', 
        'lang9':'请选择一个srt文件', 
        'lang10':"必须选择要使用的声音", 
        'lang11':"必须输入要合成的文字", 
        'lang12':'必须上传要转换的声音wav文件', 
        'lang13':'开始合成，用时可能较久，耐心等待'
        
    };
    (function(){
            if(!/^zh/i.test(navigator.language) && !/^zh/i.test(navigator.languages[0])){
                $('[data-en]').each(function(){
                   $(this).text($(this).attr('data-en'));
                   
                });
                $('[placeholderen]').each(function(){
                   $(this).attr('placeholder', $(this).attr('placeholderen'));
                    
                });
                langlist={
                    "lang1": 'You must select the voice for audition', 
                    "lang2": 'Recording', 
                    "lang3": 'Use this button after stopping recording', 
                    'lang4':'Recorded', 
                    'lang5':'Start recording', 
                    'lang6':'Use this button after stopping recording', 
                    'lang7':'Please select a file to upload', 
                    'lang8':'Only SRT subtitle files can be imported', 
                    'lang9':'Please select an SRT file', 
                    'lang10':'You must select a voice to use', 
                    'lang11':'You must enter the text to be synthesized', 
                    'lang12':'You must upload the WAV audio file for conversion', 
                    'lang13':'The synthesis might take a while, please wait patiently'
                }
            }
    }());
    const startRecordButton = document.getElementById('startRecord');
    const stopRecordButton = document.getElementById('stopRecord');
    const uploadButton = document.getElementById('upload');
    const audioPlayer = document.getElementById('audioPlayer');

    let mediaRecorder;
    let audioChunks = [];
    let sec=0;
    let timeid=null;
	// 切换文字->声音，声音->声音
	function toggle(el,type){
		$(el).addClass('btn-primary');
		$(el).siblings().removeClass('btn-primary');
		if(type=='tts'){
			$("#sts-area").addClass('d-none');
			$("#tts-area").removeClass('d-none');
		}else{
			$("#sts-area").removeClass('d-none');
			$("#tts-area").addClass('d-none');
		}
	}
	// 试听声音
	function shiting(el){
		let wavUrl=$('#audioSelect').val();
		if(!wavUrl){
			return layer.alert(langlist['lang1'],{title:false})
			
		}
		// 创建 audio 元素
        var audio = new Audio('/static/voicelist/'+wavUrl);

        // 监听播放结束事件，删除 audio 元素
        audio.addEventListener('ended', function() {
            document.body.removeChild(audio);
        });

        // 将 audio 元素添加到 body 中
        document.body.appendChild(audio);

        // 播放音频
        audio.play();
	}
	// 启动录音
    function startRecording() {
        audioChunks=[];
        navigator.mediaDevices.getUserMedia({audio: true})
            .then(stream => {
                mediaRecorder = new MediaRecorder(stream);
                mediaRecorder.ondataavailable = event => {
                    if (event.data.size > 0) {
                        audioChunks.push(event.data);
                    }
                };
                mediaRecorder.onstop = () => {
                    const audioBlob = new Blob(audioChunks, {type: 'audio/wav'});
                    const audioUrl = URL.createObjectURL(audioBlob);
                    audioPlayer.src = audioUrl;
                    uploadButton.disabled = false;
                };
                mediaRecorder.start();
                startRecordButton.textContent=langlist['lang2']+'...';
                audioPlayer.src=null;
                audioPlayer.load();
                startRecordButton.disabled = true;
                stopRecordButton.disabled = false;
                uploadButton.disabled = true;
                uploadButton.setAttribute('title',langlist['lang3']);
                clearInterval(timeid);
                timeid=setInterval(function (){
                    sec+=1;
                    startRecordButton.textContent=`${langlist['lang4']}${sec}s`;
                    // 大于20s强制停止
                    if(sec>20){
                        stopRecording();
                        clearInterval(timeid);
                    }
                },1000);

            })
            .catch(error => {
                console.error('getUserMedia error:', error);
            });
    }
	// 停止录音
    function stopRecording() {
        mediaRecorder.stop();
        startRecordButton.disabled = false;
        startRecordButton.textContent=langlist['lang5'];
        stopRecordButton.disabled = true;
        uploadButton.disabled = false;
        sec=0;
        clearInterval(timeid);
    }
	// 录音后上传
    function uploadRecording() {
        const audioBlob = new Blob(audioChunks, {type: 'audio/wav'});

        const formData = new FormData();
        formData.append('audio', audioBlob, 'recorded_audio.wav');
        let index=layer.load();
        fetch('/upload', {
            method: 'POST',
            body: formData
        })
            .then(response => response.json())
            .then(data => {
                layer.close(index);
                console.log('Server response:', data);
                if (data['code'] == 0) {
                    let el=$('#audioSelect');
                    el.find('option[selected]').removeAttr('selected');
                    el.prepend('<option selected value="'+data['data']+'">'+data['data']+'</option>');
                    uploadButton.disabled=true;
                    uploadButton.setAttribute('title',langlist['lang6']);
                }
            })
            .catch(error => {
                layer.close(index);
                console.error('Upload error:', error);
            });
    }

	// 本地上传声音
    function uploadFromLocal(inputEl) {
        const fileInput = document.getElementById('fileInput');
        const selectedFile = fileInput.files[0];

        if (!selectedFile) {
            layer.alert(langlist['lang7'],{title:false});
            return;
        }

        const formData = new FormData();
        formData.append('audio', selectedFile);
        let index=layer.load();
        fetch('/upload', {
            method: 'POST',
            body: formData
        })
        .then(response => response.json())
        .then(data => {
            layer.close(index);
            if (data['code'] == 0) {
                    layer.msg('OK');
                    let el=$('#audioSelect');
                    el.find('option[selected]').removeAttr('selected');
                    el.prepend('<option selected value="'+data['data']+'">'+data['data']+'</option>');
                let p=$(inputEl).parent();
                $(inputEl).remove();
                p.append(`<input id="fileInput" type="file" accept="audio/wav" class="position-absolute start-0 top-0 end-0 bottom-0 opacity-0" onchange="uploadFromLocal(this)" />`);
            }else{
                layer.msg(data['msg']?data['msg']:"Error",{icon:2})
            }
        })
        .catch(error => {
            console.error('error:', error);
        });
    }

    // 上传srt
    function uploadsrt(el){
        let textarea=document.getElementById('textInput')
        console.log(el.files[0])
        if (el.files[0]['name'].substr(-3).toLowerCase()!='srt'){
            return layer.alert(langlist["lang8"],{title:false})
        }
        // 确保选择了文件
        if (el.files.length > 0) {
            const selectedFile = el.files[0];
            const reader = new FileReader();
            reader.onload = function(e) {
                // 将读取的内容写入 textarea
                textarea.value = e.target.result;
            };

            // 读取文件内容
            reader.readAsText(selectedFile);
        } else {
            layer.alert(langlist['lang9'],{title:false});
        }
    }

    startRecordButton.addEventListener('click', startRecording);
    stopRecordButton.addEventListener('click', stopRecording);
    uploadButton.addEventListener('click', uploadRecording);
	// 初始化获取可用的声音列表
    function init() {
        $.get('/init', function (res) {
            console.log(res)
            if (res) {
                let html = '';
                res.forEach(it => {
                    html += '<option value="'+it+'">'+it+'</option>'
                })
                $('#audioSelect').html(html)
            }
        });
    }
	// 开始合成声音
    function start(el) {
        let voice = $("#audioSelect").val();
        let language = $('#languageSelect').val();
        let text = $('#textInput').val();
		// 当前所选的 合成类型
		let type=$('#tts-area').hasClass('d-none')?'sts':'tts';
		
        if (!voice) {
            return layer.alert(langlist['10'], {title: false});
        }
        if (type=='tts' && !text) {
            return layer.alert(langlist['lang11'], {title: false});
        }
		if (type=='sts' && !window['sts_audio_name']) {
            return layer.alert(langlist['lang12'], {title: false});
        }
		
        $('#tips').removeClass('d-none').text(langlist['lang13']);
        $(el).attr('disabled', 'disabled')
        window.timesec = 0;
        window.timeid = setInterval(function () {
            window.timesec += 1
            $('#tips').text(langlist['lang13']+':'+window.timesec+'秒')
        }, 1000);
		$("#downloadbtn").removeAttr('src').addClass('d-none');
		$("#downloadbtn")[0].load();
		$('#errors').html('');
		let fun_res=function(res){
			$(el).removeAttr('disabled')
				console.log(res)
				window.timesec = 0;
				clearInterval(window.timeid);
				if (res.code !== 0) {
					$('#tips').text("Error：" + res.msg);
				} else {
					
					$("#downloadbtn").removeClass('d-none').attr('src', "/static/ttslist/" + res.name);
					if(res['msg']){
						$('#tips').html(res['msg']);
					}else{
						$('#tips').addClass('d-none').text('');
					}
					
				}
		}
		
		if(type=='tts'){
			$.post('/tts', {voice: voice, text: text, language: language}, function (res) {
				fun_res(res);
			});
		}else{
			$.post('/sts', {voice: voice, name: window['sts_audio_name']}, function (res) {
				fun_res(res);
			});
		}
    }

    init();
	
	// 初始化 声音转声音
	function stsinit() {
      var dropaudio = $('#dropaudio');
	  if(dropaudio.length<1){
		return
	  } 

      dropaudio.on('dragover', function(e) {
        e.preventDefault();
        dropaudio.addClass('dragover');
      });

      dropaudio.on('dragleave drop', function(e) {
        e.preventDefault();
        dropaudio.removeClass('dragover');
      });

      dropaudio.on('drop', function(e) {
        e.preventDefault();

        var files = e.originalEvent.dataTransfer.files;
        if (files.length > 0) {
          handleFileUpload(files[0]);
        }
      });

      dropaudio.on('click', function() {
        var fileInput = $('<input type="file" style="display: none;">');
        fileInput.on('change', function() {
          if (fileInput[0].files.length > 0) {
            handleFileUpload(fileInput[0].files[0]);
          }
        });

        fileInput.click();
      });
	}
	stsinit();

    // 拖拽上传声音音频  
	function handleFileUpload(file) {
		var dropaudio = $('#dropaudio');
        var formData = new FormData();
        formData.append('audio', file);
		formData.append('save_dir','tmp')
		
        $.ajax({
          type: 'POST',
          url: '/upload',  // Update with your backend endpoint
          data: formData,
          contentType: false,
          processData: false,
          success: function(response) {
            if (response.code === 0) {
              dropaudio.text('OK: ' + response.data);
			  window['sts_audio_name']=response.data
            } else {
              dropaudio.text('Error: ' + response.msg);
            }
          },
          error: function() {
            dropaudio.text('Error');
          },
          beforeSend: function() {
            dropaudio.text('Upload...');
          },
          complete: function() {
            dropaudio.removeClass('dragover');
          }
        });
      }

</script>

</body>
</html>